.profile_heading{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}


.container{
    display: flex;
    margin: 40px 80px;
}

.profileavatar{
    width: 20%;
}

.updateform{
    width: 80%;
}

#profileavatarname{
    position: relative;
    top: 7rem;
    left: 3rem;
    color: white;
    font-size: 2em;
    letter-spacing: 2px;

}

#profileavatar{
   top: 18rem;
}

.form-group{
    margin: 20px 0px 0px 0px ;
}

.form-group input{
    padding: 20px;
    margin: 10px 0;
}

.text-primary{
    font-size: 1.3em;
    font-weight: 600;
}

.bt{
    margin-top: 30px;
    color: white;
    padding: 10px;
    border-radius: 0px;
    border: none;
    font-size: 1.2em;
}

#updatebtn{
    background-color: #799617;
}

#deletebtn{
    background-color: rgb(191,20,9);
}
